flows (2).json
[{"id":"966e01b0.91412","type":"tab","label":"Relay","disabled":false,"info":""},{"id":"e744f98f.8df418","type":"ui_switch","z":"966e01b0.91412","name":"","label":"لامپ","tooltip":"","group":"90867155.a6373","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":260,"wires":[["6d056a14.0dc5c4","aa7fb33.1901e5"]]},{"id":"6d056a14.0dc5c4","type":"debug","z":"966e01b0.91412","name":"لامپ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":380,"wires":[]},{"id":"aa7fb33.1901e5","type":"switch","z":"966e01b0.91412","name":"key","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":280,"wires":[["afc57bc2.2b6708"],["4cd448bf.81acf8"]]},{"id":"1914faf2.810325","type":"mqtt out","z":"966e01b0.91412","name":"","topic":"room1/lamp","qos":"","retain":"","broker":"9a50e88a.919af8","x":920,"y":400,"wires":[]},{"id":"4cd448bf.81acf8","type":"change","z":"966e01b0.91412","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"room1/lamp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":420,"wires":[["1914faf2.810325","5cd47212.cd00dc","9f2bcec1.3dcbb"]]},{"id":"5cd47212.cd00dc","type":"debug","z":"966e01b0.91412","name":"ON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":500,"wires":[]},{"id":"13fcb808.e518b8","type":"mqtt out","z":"966e01b0.91412","name":"","topic":"room1/lamp","qos":"","retain":"","broker":"9a50e88a.919af8","x":960,"y":180,"wires":[]},{"id":"afc57bc2.2b6708","type":"change","z":"966e01b0.91412","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"room1/lamp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":200,"wires":[["13fcb808.e518b8","a7411237.49de7","9f2bcec1.3dcbb"]]},{"id":"a7411237.49de7","type":"debug","z":"966e01b0.91412","name":"OFF","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":260,"wires":[]},{"id":"9f2bcec1.3dcbb","type":"ui_text","z":"966e01b0.91412","group":"36d806c0.570cda","order":1,"width":0,"height":0,"name":"","label":"پیام","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":320,"wires":[]},{"id":"c6f4efd5.b3252","type":"inject","z":"966e01b0.91412","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":180,"wires":[["aa7fb33.1901e5"]]},{"id":"90867155.a6373","type":"ui_group","z":"","name":"کنترل","tab":"e8a3553e.494f68","order":1,"disp":true,"width":7,"collapse":false},{"id":"9a50e88a.919af8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"36d806c0.570cda","type":"ui_group","z":"","name":"پیغام","tab":"e8a3553e.494f68","order":3,"disp":true,"width":7,"collapse":false},{"id":"e8a3553e.494f68","type":"ui_tab","z":"","name":"لامپ","icon":"dashboard","order":8,"disabled":false,"hidden":false}]