flows (3).json
[{"id":"f3dab533.4f2038","type":"tab","label":"PIR","disabled":false,"info":""},{"id":"ab79361.986f3c8","type":"mqtt in","z":"f3dab533.4f2038","name":"","topic":"room1/sensorpir","qos":"2","datatype":"auto","broker":"9a50e88a.919af8","x":200,"y":380,"wires":[["658216f3.17d998","4e763f7f.21026","c3fa01e5.d5b58"]]},{"id":"658216f3.17d998","type":"ui_toast","z":"f3dab533.4f2038","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"تشخیص حرکت ","name":"سنسور ","x":390,"y":260,"wires":[]},{"id":"70c047be.dfaa78","type":"ui_switch","z":"f3dab533.4f2038","name":"","label":"شناسایی دزد ","tooltip":"","group":"29844e16.fba0a2","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"msg.payload","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":500,"wires":[["e181e7a7.4a88f8","579602b6.18c99c"]]},{"id":"e181e7a7.4a88f8","type":"debug","z":"f3dab533.4f2038","name":"خرکت","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":210,"y":640,"wires":[]},{"id":"d0dc715e.71123","type":"e-mail","z":"f3dab533.4f2038","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"mhgiv.kashi1998@gmail.com","dname":"","x":880,"y":260,"wires":[]},{"id":"a4a64e93.d2cf2","type":"telegram sender","z":"f3dab533.4f2038","name":"","bot":"13f94aba.43e1c5","x":1050,"y":360,"wires":[[]]},{"id":"32065fdf.8627a","type":"telegrambot-notify","z":"f3dab533.4f2038","name":"","bot":"dc8e6ae9.c43b28","chatId":"","message":"تشخیص حرکت شی ناشناس لطفا با پلیس تماس بگیرید","parseMode":"","x":920,"y":420,"wires":[]},{"id":"4e763f7f.21026","type":"switch","z":"f3dab533.4f2038","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":400,"wires":[["d0dc715e.71123","32065fdf.8627a","3b5749d8.ce3786"],[]]},{"id":"3b5749d8.ce3786","type":"function","z":"f3dab533.4f2038","name":"","func":"msg.payload = {}\nmsg.payload.chatId = 207050129\nmsg.payload.type = 'message'\nmsg.payload.content = 'تشخیص حرکت شی ناشناس لطفا با پلیس تماس بگیرید|'\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":360,"wires":[["a4a64e93.d2cf2"]]},{"id":"579602b6.18c99c","type":"switch","z":"f3dab533.4f2038","name":"key","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":700,"wires":[["c2798446.8106e8"],["5102ce84.73108"]]},{"id":"4776cdfe.b27444","type":"mqtt out","z":"f3dab533.4f2038","name":"","topic":"room1/pir","qos":"","retain":"","broker":"9a50e88a.919af8","x":990,"y":840,"wires":[]},{"id":"5102ce84.73108","type":"change","z":"f3dab533.4f2038","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"room1/pir","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":860,"wires":[["4776cdfe.b27444","c994f9bf.f84ed8","616b9570.b33d2c"]]},{"id":"c994f9bf.f84ed8","type":"debug","z":"f3dab533.4f2038","name":"ON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":940,"wires":[]},{"id":"28cccd61.8c9f72","type":"mqtt out","z":"f3dab533.4f2038","name":"","topic":"room1/pir","qos":"","retain":"","broker":"9a50e88a.919af8","x":1020,"y":600,"wires":[]},{"id":"c2798446.8106e8","type":"change","z":"f3dab533.4f2038","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"room1/pir","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":680,"wires":[["28cccd61.8c9f72","1b1829e4.3f1326","616b9570.b33d2c"]]},{"id":"1b1829e4.3f1326","type":"debug","z":"f3dab533.4f2038","name":"OFF","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":700,"wires":[]},{"id":"c3fa01e5.d5b58","type":"debug","z":"f3dab533.4f2038","name":"dozd","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":460,"wires":[]},{"id":"616b9570.b33d2c","type":"ui_text","z":"f3dab533.4f2038","group":"f7c87a56.4e9538","order":1,"width":0,"height":0,"name":"","label":"سیستم شناسایی دزد","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":760,"wires":[]},{"id":"9a50e88a.919af8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29844e16.fba0a2","type":"ui_group","z":"","name":"","tab":"2d94f6c7.dae48a","order":1,"disp":true,"width":6,"collapse":false},{"id":"13f94aba.43e1c5","type":"telegram bot","z":"","botname":"intelligencehomebot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"dc8e6ae9.c43b28","type":"telegrambot-config","z":"","botname":"intelligencehomebot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"f7c87a56.4e9538","type":"ui_group","z":"","name":"","tab":"2d94f6c7.dae48a","order":3,"disp":true,"width":"6","collapse":false},{"id":"2d94f6c7.dae48a","type":"ui_tab","z":"","name":"دزدگیر","icon":"dashboard","order":6,"disabled":false,"hidden":false}]