flows (5).json
[{"id":"2cd78b83.9982a4","type":"tab","label":"LED","disabled":false,"info":""},{"id":"f747d5e0.4ef338","type":"ui_switch","z":"2cd78b83.9982a4","name":"","label":"ال ای دی ","tooltip":"","group":"90867155.a6373","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":200,"wires":[["ee52dc6b.978d1","21406271.898e2e"]]},{"id":"ee52dc6b.978d1","type":"debug","z":"2cd78b83.9982a4","name":"led","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":320,"wires":[]},{"id":"21406271.898e2e","type":"switch","z":"2cd78b83.9982a4","name":"key","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":220,"wires":[["849df72d.968998"],["95f41511.721048"]]},{"id":"3c307be7.091474","type":"mqtt out","z":"2cd78b83.9982a4","name":"","topic":"room1/light1","qos":"","retain":"","broker":"9a50e88a.919af8","x":940,"y":340,"wires":[]},{"id":"95f41511.721048","type":"change","z":"2cd78b83.9982a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"room1/light1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":360,"wires":[["3c307be7.091474","c332d4d6.2aaae8","b1e20dba.5e613"]]},{"id":"c332d4d6.2aaae8","type":"debug","z":"2cd78b83.9982a4","name":"ON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":440,"wires":[]},{"id":"d122b90f.f78478","type":"mqtt out","z":"2cd78b83.9982a4","name":"","topic":"room1/light1","qos":"","retain":"","broker":"9a50e88a.919af8","x":980,"y":120,"wires":[]},{"id":"849df72d.968998","type":"change","z":"2cd78b83.9982a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"room1/light1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":140,"wires":[["d122b90f.f78478","e877ed7b.a89b5","b1e20dba.5e613"]]},{"id":"e877ed7b.a89b5","type":"debug","z":"2cd78b83.9982a4","name":"OFF","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":200,"wires":[]},{"id":"b1e20dba.5e613","type":"ui_text","z":"2cd78b83.9982a4","group":"36d806c0.570cda","order":2,"width":0,"height":0,"name":"","label":"پیام","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":260,"wires":[]},{"id":"70602c54.7b60b4","type":"inject","z":"2cd78b83.9982a4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":120,"wires":[["21406271.898e2e"]]},{"id":"90867155.a6373","type":"ui_group","z":"","name":"کنترل","tab":"e8a3553e.494f68","order":1,"disp":true,"width":7,"collapse":false},{"id":"9a50e88a.919af8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"36d806c0.570cda","type":"ui_group","z":"","name":"پیغام","tab":"e8a3553e.494f68","order":3,"disp":true,"width":7,"collapse":false},{"id":"e8a3553e.494f68","type":"ui_tab","z":"","name":"لامپ","icon":"dashboard","order":8,"disabled":false,"hidden":false}]