flows (4).json
[{"id":"6181e58.0a8291c","type":"tab","label":"project","disabled":false,"info":""},{"id":"4ee676ee.7a3808","type":"mqtt in","z":"6181e58.0a8291c","name":"","topic":"room1/sensortemp","qos":"2","datatype":"auto","broker":"9a50e88a.919af8","x":190,"y":320,"wires":[["5f1d7376.8ec2cc","2786482d.de57e8","5d85847a.16fd3c","770b6656.ff59a8","eac9e94d.b597b8"]]},{"id":"5f1d7376.8ec2cc","type":"debug","z":"6181e58.0a8291c","name":"lm35","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":160,"wires":[]},{"id":"60d5c0e2.fcc56","type":"template","z":"6181e58.0a8291c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO TestTable (hour,min,temp) VALUES  (  {{myhour}},{{myminute}}, {{payload}}  )","output":"str","x":680,"y":300,"wires":[["a6e1b332.ab5d"]]},{"id":"a6e1b332.ab5d","type":"change","z":"6181e58.0a8291c","name":"pyload to topic","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":400,"wires":[["97e50ca4.0a537"]]},{"id":"97e50ca4.0a537","type":"sqlite","z":"6181e58.0a8291c","mydb":"b0f56ea2.8f8db","sqlquery":"msg.topic","sql":"","name":"IoTTest","x":900,"y":300,"wires":[["1d73cb5b.043c05"]]},{"id":"2786482d.de57e8","type":"simpletime","z":"6181e58.0a8291c","name":"","x":510,"y":300,"wires":[["60d5c0e2.fcc56"]]},{"id":"1d73cb5b.043c05","type":"debug","z":"6181e58.0a8291c","name":"db","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":990,"y":380,"wires":[]},{"id":"5d85847a.16fd3c","type":"openweathermap","z":"6181e58.0a8291c","name":"weather","wtype":"current","lon":"","lat":"","city":"kashan","country":"IR","language":"en","x":140,"y":520,"wires":[["1b2c46d0.7f6fb9","a9fb7625.941d68"]]},{"id":"1b2c46d0.7f6fb9","type":"debug","z":"6181e58.0a8291c","name":"show temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.tempc","targetType":"msg","x":370,"y":800,"wires":[]},{"id":"1bd90d4f.48db53","type":"debug","z":"6181e58.0a8291c","name":"d2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":660,"wires":[]},{"id":"770b6656.ff59a8","type":"ui_gauge","z":"6181e58.0a8291c","name":"","group":"c14d67d6.7d97a8","order":1,"width":0,"height":0,"gtype":"gage","title":"دمای داخل خانه","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#ebeb9e","#d3c0c0"],"seg1":"","seg2":"","x":540,"y":240,"wires":[]},{"id":"a4bda326.6df86","type":"sqlite","z":"6181e58.0a8291c","mydb":"b0f56ea2.8f8db","sqlquery":"msg.topic","sql":"","name":"IoTTest","x":500,"y":1160,"wires":[["f1a7c986.2d8d98","e2a5be5a.c228d"]]},{"id":"c6b1e309.47d4f","type":"inject","z":"6181e58.0a8291c","name":"CREATE TABLE","topic":"CREATE TABLE TestTable ( id INTEGER PRIMARY KEY AUTOINCREMENT ,  temp INTEGER  ,  time  TEXT ,hour   INTEGER ,min  INTEGER)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":1120,"wires":[["a4bda326.6df86"]]},{"id":"f03ebd82.dc90c","type":"inject","z":"6181e58.0a8291c","name":"SELECT ALL","topic":"SELECT* FROM TestTable","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":"0.120","x":240,"y":1180,"wires":[["a4bda326.6df86"]]},{"id":"f1a7c986.2d8d98","type":"debug","z":"6181e58.0a8291c","name":"D1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":1160,"wires":[]},{"id":"e2a5be5a.c228d","type":"ui_chart","z":"6181e58.0a8291c","name":"","group":"5de2afa9.5de47","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":1240,"wires":[[]]},{"id":"dd4c7715.177868","type":"debug","z":"6181e58.0a8291c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":1220,"wires":[]},{"id":"ea438c74.3ca4d","type":"simpletime","z":"6181e58.0a8291c","name":"","x":350,"y":1340,"wires":[["dd4c7715.177868","e6e13c08.f3014"]]},{"id":"8ce3080.7ad30f8","type":"inject","z":"6181e58.0a8291c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1320,"wires":[["ea438c74.3ca4d"]]},{"id":"e6e13c08.f3014","type":"template","z":"6181e58.0a8291c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" {{mytimes}}","output":"str","x":560,"y":1400,"wires":[["ba8ea20e.fac88","5b356b6a.d8eaf4","a01ff197.1e5f4"]]},{"id":"5b356b6a.d8eaf4","type":"ui_text","z":"6181e58.0a8291c","group":"b2a5fba4.01ffc8","order":0,"width":0,"height":0,"name":"","label":"ساعت:","format":"{{msg.payload}}","layout":"row-right","x":760,"y":1400,"wires":[]},{"id":"ba8ea20e.fac88","type":"debug","z":"6181e58.0a8291c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":1360,"wires":[]},{"id":"a01ff197.1e5f4","type":"function","z":"6181e58.0a8291c","name":"","func":"var time=msg.payload.mytimes;\nnode.log(time);\nif(time == \"13:42:00\"){\n    return true;\n}\nelse{\n    return false;\n}\n\nreturn false;","outputs":1,"noerr":0,"x":690,"y":1300,"wires":[["b45713a9.80294"]]},{"id":"b45713a9.80294","type":"debug","z":"6181e58.0a8291c","name":"to","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":1280,"wires":[]},{"id":"a9fb7625.941d68","type":"function","z":"6181e58.0a8291c","name":"","func":"var temp = msg.payload.tempc;\nmsg.payload=temp;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":620,"wires":[["1bd90d4f.48db53","42ce02b0.9590dc","fa115380.b7624","c88ec8c1.374938"]]},{"id":"42ce02b0.9590dc","type":"ui_gauge","z":"6181e58.0a8291c","name":"","group":"dddcaf67.0c39c","order":1,"width":0,"height":0,"gtype":"gage","title":" دمای خارج خانه","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#d45959"],"seg1":"","seg2":"","x":430,"y":700,"wires":[]},{"id":"f1088bba.0fcef8","type":"mqtt out","z":"6181e58.0a8291c","name":"","topic":"room1/tempout","qos":"","retain":"","broker":"9a50e88a.919af8","x":740,"y":480,"wires":[]},{"id":"fa115380.b7624","type":"change","z":"6181e58.0a8291c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"room1/tempout","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":540,"wires":[["f1088bba.0fcef8","eb69c7c0.f4cac8"]]},{"id":"eb69c7c0.f4cac8","type":"debug","z":"6181e58.0a8291c","name":"OFF","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":560,"wires":[]},{"id":"eac9e94d.b597b8","type":"ui_chart","z":"6181e58.0a8291c","name":"","group":"c14d67d6.7d97a8","order":2,"width":0,"height":0,"label":"نمودار دمای داخل","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#fbab65","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":200,"wires":[[]]},{"id":"c88ec8c1.374938","type":"ui_chart","z":"6181e58.0a8291c","name":"","group":"dddcaf67.0c39c","order":2,"width":0,"height":0,"label":"نمودار دمای خارج","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#b5e8ab","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":420,"y":760,"wires":[[]]},{"id":"9a50e88a.919af8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b0f56ea2.8f8db","type":"sqlitedb","z":"","db":"Testbd","mode":"RWC"},{"id":"c14d67d6.7d97a8","type":"ui_group","z":"","name":"Group 1","tab":"82e848e8.7ef988","order":1,"disp":false,"width":"9","collapse":false},{"id":"5de2afa9.5de47","type":"ui_group","z":"","name":"Sum-Avg","tab":"14c8e5f4.a9dbda","order":1,"disp":true,"width":"6","collapse":false},{"id":"b2a5fba4.01ffc8","type":"ui_group","z":"","name":"show","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"dddcaf67.0c39c","type":"ui_group","z":"","name":"Group 2","tab":"82e848e8.7ef988","order":3,"disp":false,"width":"9","collapse":false},{"id":"82e848e8.7ef988","type":"ui_tab","z":"","name":"دما","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"14c8e5f4.a9dbda","type":"ui_tab","z":"","d":true,"name":"db-ui","icon":"dashboard","order":8,"disabled":false,"hidden":false}]